# Environment variables
.env
wsl_setting.txt

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Gemini Agent files
.gemini/

# Data output
data/out/
data/SAFE/
data/stac_results.json

# Reports and images
*.pdf
*.png
*.html
*.kml
*.tiff
*.xml
