# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
